---
import Envelope from "../assets/icons/envelope.svg";
import Github from "../assets/icons/github.svg";
import Linkedin from "../assets/icons/linkedin.svg";
---

<div class="mt-auto h-16 flex justify-center gap-9 items-center">
	<div class="">
		<a href="mailto:rosekenny12@gmail.com" target="_blank" rel="noreferrer">
			<Envelope class="text-black dark:text-white size-10" />
		</a>
	</div>
	<div class="">
		<a
			href="https://github.com/kennethprose"
			target="_blank"
			rel="noreferrer"
		>
			<Github class="text-black dark:text-white size-10" />
		</a>
	</div>
	<div class="">
		<a
			href="https://www.linkedin.com/in/kennethpatrickrose/"
			target="_blank"
			rel="noreferrer"
		>
			<Linkedin class="text-black dark:text-white size-10" />
		</a>
	</div>
</div>
