---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a
	href={href}
	class:list={[className, { active: isActive }]}
	{...props}
	class="text-black dark:text-white"
>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		padding: 0.5em;
		text-decoration: none;
		font-size: clamp(1.2rem, 3vw, 1.5rem);
	}
	a.active {
		font-weight: bolder;
	}
</style>
